<!-- Define data to pass through to other ejs partials -->
<% data = typeof data !== 'undefined' ? data : {}; %>

<!DOCTYPE html>
<html lang="eng" data-theme="light">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-TBCRW55F');
		</script>
		<!-- End Google Tag Manager -->

		<!-- If any GA4 data is passed from redirectedFlash in backend -->
		<script>
			window.__GA4_EVENT__ = <%- JSON.stringify(GA4_EVENT) %>;
		</script>

		<title><%= `${meta?.title} - CampPics` || "CampPics" %></title>
		<meta charset="UTF-8">
		<% if (canonicalUrl) { %>
			<link rel="canonical" href="<%= canonicalUrl %>">
		<% } %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="<%= meta?.description || 'Discover photos and videos of Canadian campsites.' %>">
		<meta name="keywords" content="camp photos, camping, camp, canada, provincial park, national park, federal park, territorial park, campground, canadian camping">
		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= meta?.title || 'CampPics' %>">
		<meta property="og:description" content="<%= meta?.description || '' %>">
		<meta property="og:url" content="<%= meta?.url || '' %>">
		<meta property="og:image" content="<%= meta?.image || 'https://camppics.ca/images/images/home-hero-summer.jpg' %>">
		<!-- Facebook / Meta -->
		<meta property="og:site_name" content="CampPics" />
		<!-- X (Twitter) -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= meta?.title || 'CampPics' %>" />
		<meta name="twitter:description" content="<%= meta?.description || '' %>" />
		<meta name="twitter:image" content="<%= meta?.image || 'https://camppics.ca/images/images/home-hero-summer.jpg' %>" />


		<!-- Set dark/light mode -->
		<script>
			(function () {
			  const theme = (() => {
				const stored = localStorage.getItem('theme');
				if (stored === 'light' || stored === 'dark') return stored;
				return window.matchMedia('(prefers-color-scheme: dark)').matches
				  ? 'dark'
				  : 'light';
			  })();
			
			  document.documentElement.dataset.theme = theme;
			})();
		</script>
			

		<!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">   -->
		<link href="/css/login.css" rel="stylesheet" />
		<link href="/css/general.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

		<!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

	</head>
	<body> 
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBCRW55F"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		 
		<div id="modal-backdrop-insert" class=""></div>
		<!-- Include login modal -->
		 <%- include('../partials/modals/modal', {
			id: 'auth-modal',
			contentPartial: 'login',
			switcher: true,
			data: data || {} 
		}) %>
		<script>
			let flashMessages
		</script>
		<div id="flash-messages"></div>
		<div id="main-page-content">
			<div id="layout-wrapper">
				<%- include('../partials/navbar') %> <!-- including the navbar -->

				 <!-- Any flash messages to user -->

				<div id="content-wrapper">

					<main> <!-- Putting main body into its own container -->
						<!-- Push content down if home page due to page tear -->
						<%- body %> 
						
					</main>
					<%- include('../partials/footer') %> <!-- including the footer -->
				</div>
			</div>
		</div>

		<div id="main-loading-overlay"></div>
		

		<div id="bottom-right-buttons">
			<button id="scroll-to-top-btn" aria-label="Scroll to top">
				<div>▲</div>
			</button>
			<button id="share-btn" class="visible" aria-label="Share page">
				<div>&#128279;</div>
			</button>
		</div>

		<!-- <script src="/js/scrollToTop.js"></script> -->
		<script type="text/javascript" src="/js/flash-messages.js"></script>
		<script type="text/javascript" src="/js/general.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>

		<!-- Handle error messages -->
		<% if(success && success.length) { %> <script> createFlashMsg('success', '<%= success %>', 'success-msg', 5) </script> <% } %>
		<% if(info && info.length) { %> <script> createFlashMsg('info', '<%= info %>', 'info-msg', 10) </script> <% } %>
		<% if(warning && warning.length) { %> <script> createFlashMsg('warning', '<%= warning %>', 'warning-msg', 10) </script> <% } %>
		<% if(error && error.length) { %> <script> createFlashMsg('error', '<%= error %>', 'error-msg', 15) </script> <% } %>

	</body>
</html>